@media (max-width: 1119px) {
    .our-friends__item:last-child, .our-friends__item:nth-child(7) {
        display: none;
    }
}
@media (max-width: 1066px) {
    .container {
        padding: 3rem;
    }
    .header-nav__item {
        margin-left: 3.6rem;
    }
    /* our-friends */
    .our-friends__container {
        padding: 8rem 9.3rem 7.5rem;
    }
    .our-friends__title {
        margin-bottom: 3rem;
    }
    .our-friends__content {
        margin-bottom: 3.8rem;
    }
     /* footer */
    .footer__container {
        padding-bottom: 0;
        padding-left: 2rem;
        padding-right: 2.5rem;
        flex-direction: column;
    }
    .footer__info {
        margin-bottom: 3.5rem;
        padding-top: 0;
        justify-content: space-evenly;
        max-width: 100%;
    }
    .footer__right {
        margin: 0 auto;
    }
}
@media (max-width:767px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .title, .footer-left__title, .footer-center__title  {
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 0.06em;
    }
    /* header */
    .header-nav {
        display: none;
    }
    .header__container {
        align-items: center;
    }
    .burger {
        display: block;
    }
    /* our-friends */
    .our-friends__container {
        padding: 4.2rem 1rem 4.3rem;
    }
    .our-friends__title {
        margin-bottom: 4rem;
        max-width: 100%;
    }
    .our-friends__content {
        justify-content: space-around;
    }
    .our-friends__img {
        margin-bottom: 2.5rem;
    }
    .our-friends__content-title {
        margin-bottom: 2.8rem;
    }
    .our-friends__item:nth-child(6), .our-friends__item:nth-child(5), .our-friends__item:nth-child(4) {
        display: none;
    }
    /* footer */
    .footer__container {
        padding: 3.1rem 1rem 0;
    }
    .footer__info {
        flex-direction: column;
    }
    .footer__left {
        margin-bottom: 4rem;
        max-width: 100%;
        width: 100%;
    }
    .mail {
        padding-left: 2.5rem;
    }
    .phone {
        padding-left: 3rem;
    }
    .footer__center {
        max-width: 100%;
    }
    .footer-center__title {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 4rem;
    }
    .location {
        margin-bottom: 4rem;
    }
    .footer__info {
        margin-bottom: 0;
    }
    .footer__right {
        max-width: 26rem;
    }
}