/* global */
html {
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}
body {
    font-family: 'Georgia', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
}
@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia.woff2') format('woff2'),
        url('../../assets/fonts/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia-Italic.woff2') format('woff2'),
        url('../../assets/fonts/Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/ArialMT.woff2') format('woff2'),
        url('../../assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
        url('../../assets/fonts/Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btn {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.flex {
    display: flex;
}
.container {
    margin: auto;
    max-width: 1240px;
    padding: 0 20px;
}
/* header */

.header__container {
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 2vw;
    background-color: #FFFFFF;
}
.header-logo__title {
    margin-bottom: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
.header-logo__desc {
    padding-left: 2px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}
.header-nav {
    margin: auto 0;
}
.header-nav__list {
    justify-content: space-between;
    align-items: center;
}
.header-nav__item {
    margin-left: 3.7rem;
}
.header-nav__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: #545454;
    transition: color 0.3s ease-in-out;
}
.header-nav__link-active {
    padding-bottom: 3px;
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
}
.header-nav__link:hover {
    color: #292929;
}
/* our-friends */
.our-friends {
    background-color: #F6F6F6;
}
.our-friends__container {
    padding: 7.7rem 2rem 10rem 2rem;
}
.our-friends__title {
    max-width: 40rem;
    margin: 0 auto 6rem auto;
    text-align: center;
    color: #545454;
}
.our-friends__content {
    margin-bottom: 5.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
}
.our-friends__item {
    padding-bottom: 3rem;
    border-radius: 9px;
    cursor: pointer;
    background-color: #FAFAFA;
    transition:all 0.3s ease-in-out;
}
.our-friends__item:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.our-friends__img {
    margin-bottom: 2.2rem;
}
.our-friends__content-title {
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}
.our-friends__btn {
    display: block;
    margin: 0 auto;
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: all 0.3s ease-in-out;
}
.our-friends__btn:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4
}
.pagination {
    justify-content: center;
    column-gap: 1.8rem;
}
.pagination__btn {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
.pagination__not-active {
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
}
.pagination__chosen {
    color: #292929;
    background-color: #F1CDB3;
}
.pagination__active {
    color: #292929;
    border: 2px solid #F1CDB3;
    transition: all 0.3s ease-in-out;
}
.pagination__active:hover {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
}
/* footer */

.footer {
    background: url('../../assets/images/footer-gradient-background.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.footer__container {
    padding: 4.2rem 2rem 0 2rem;
    justify-content: space-between;
}
.footer__info {
    width: 62%;
    justify-content: space-between;
    padding-top: 1.8rem;
}
.footer__left {
    width: 40%;
}
.footer__center {
    width: 41%;
}

.footer-left__title,
.footer-center__title {
    margin-bottom: 40px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.footer-center__title {
    margin-bottom: 30px;
}
.footer__right {
    flex-shrink: 0;
}
.location,
.mail,
.phone {
    align-items: center;
    justify-content: flex-start;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;

}
.mail {
    margin-bottom: 43px;
}
.footer-center__address {
    flex-direction: column;

}
.location {
    margin-bottom: 33px;
}

.location__svg,
.mail__svg,
.phone__svg {
    margin-right: 20px;
    flex-shrink: 0;
}