body {
  background-color: #0D8584;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 80px;
}

.title {
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 35px;
  font-weight: 900;

}

.game-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 520px;
}

.game-menu {
  display: flex;
  padding: 24px 24px 0;
  background-color: lightgray;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid gray;
}

.menu__wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
}

.game__mines-cnt,
.menu__timer {
    font: 400 52px Georgia;
    font-family: 'Digital Dismay';
    color: red;
    background-color: black;
}

.game__btn {
  text-align: center;
  border: none;
  width: 72px;
  height: 72px;
  font-size: 54px;
  margin: 0;
  padding: 0;
  border-top: 6px solid white;
  border-left: 6px solid white;
  border-bottom: 6px solid gray;
  border-right: 6px solid gray;
  font: 400 50px serif;

}

.game__main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    box-sizing: border-box;
    background-color: lightgray;
    border-left: 5px solid white;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
}

.game__field {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  box-sizing: border-box;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  position: relative;
}

.message {
  left: 15%;
  font-size: 34px;
  position: absolute;
}

.cell {
  height: 40px;
  width: 40px;
  background-color: #C0C0C0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7B7B7B;
  border-bottom-color: #7B7B7B;
  border-left-color: #ffffff;
  text-align: center;
  vertical-align: middle;
}
.checked {
  background-color: #C0C0C0;
  font-size: 80%;
  text-align: center;
  border: none;
}
.one {
  color: #e76346 !important;
}

.two {
  color: #4199d3 !important;
}

.three {
  color: #57da59 !important;
}

.four{
  color: #bb41d3 !important;
}
/* .difficulty {
  display: flex;
  justify-content: space-between;
}
.difficulty__btn {
  width: calc((100% / 4) - 5px );
}

.difficulty__label {
  display: flex;
  align-items: center;
  
}

.difficulty__input {
  width: 40px;
  margin-left: 5px;
} */